<!-- multistep form -->
<%= form_for @employee,  :html => {:id => "msform"} do |f| %>
  <!-- progressbar -->
  <ul id="progressbar" style="margin-bottom: 16px; margin-top: -23px; width: 608px; margin-left: -120px;">
    <li class="active"></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <!-- fieldsets -->
  <fieldset>
    <h2 class="fs-title">Create your account</h2>
    <div id="error_msg" style="color: red;"></div>
    <div class="form-group" >
      <%= f.label :employee_no, :class=>"control-label" %>
      <%= f.text_field :employee_no, :class=>"form-control req" %>
    </div>

    <div class="form-group">
      <%= f.label :first_name, :class=>"control-label" %>
      <%= f.text_field :first_name, :class=>"form-control req" %>
    </div>

    <div class="form-group">
      <%= f.label :middle_name, :class=>"control-label" %>
      <%= f.text_field :middle_name, :class=>"form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name, :class=>"control-label" %>
      <%= f.text_field :last_name, :class=>"form-control req" %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth, :class=>"control-label" %>
      <%= f.date_field :date_of_birth, :class => "form-control req" %>
    </div>

    <div class="form-group">
      <%= f.label :marital_status, :class=>"control-label" %>
      <%= f.select :marital_status, ['Married', 'Single'], {:prompt => 'Select Marital Status'},  { :class => 'form-control req', :style => "width: 100% !important;"}%>
    </div>
    <div class="form-group">
      <%= f.label :father_name, :class=>"control-label " %>
      <%= f.text_field :father_name, :class=>"form-control req" %>
    </div>

    <div class="form-group">
      <%= f.label :mother_name, :class=>"control-label" %>
      <%= f.text_field :mother_name, :class=>"form-control req" %>
    </div>

    <div class="dropdown">
      <%= f.label :department, :class=>"control-label" %>
      <%= f.select :department, ['PHP', 'ROR', 'Design', 'Android', 'Iphon', 'HR'],{:prompt => 'Select Department'}, { :class => 'form-control req', :style => "width: 100%;"} %>
    </div>

    <div class="form-group">
      <%= f.label :technology, :class=>"control-label" %>
      <%= f.select :technology, ['PHP', 'ROR', 'Design', 'Android', 'Iphon'], {:prompt => 'Select Technology'}, { :class => 'form-control req', :style => "width: 100%;"} %>
    </div>
        
    <div class="form-group">
      <%= f.label :joining_date, :class=>"control-label" %>
      <%= f.text_field :joining_date, :class => "form-control req", :placeholder=> "mm/dd/yyyy", "data-provide" => "datepicker" %> 
    </div>
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Social Profiles</h2>
     <div class="form-group" >
    <%= f.label :address %>
    <%= f.text_area :address, :class => "form-control", :style=>"width: 100%;" %>
  </div>
  <div class="form-group">
    <%= f.label :current_address %>
    <%= f.text_area :current_address, :class => "form-control", :style=>"width: 100%;" %>
  </div>
  <div class="form-group">
    <%= f.label :home_phone %>
    <%= f.text_field :home_phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no %>
    <%= f.text_field :mobile_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :alternet_mobile_no %>
    <%= f.text_field :alternet_mobile_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :father_contact_no %>
    <%= f.text_field :father_contact_no, :class => "form-control" %>
  </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <div class="form-group">
    <%= f.label :exam_passed %>
    <%= f.text_field :exam_passed, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :board_or_university %>
    <%= f.text_field :board_or_university, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :institut_name %>
    <%= f.text_field :institut_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :specialization %>
    <%= f.text_field :specialization, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :marks %>
    <%= f.text_field :marks, :class => "form-control" %>
  </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="button" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset>
    <h2 class="fs-title">Personal Details</h2>
    <div class="form-group">
    <%= f.label :pan_no %>
    <%= f.text_field :pan_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :national_id_no %>
    <%= f.text_field :national_id_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bank_acc_no %>
    <%= f.text_field :bank_acc_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ifsc_code %>
    <%= f.text_field :ifsc_code, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bank_name %>
    <%= f.text_field :bank_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :branch_address %>
    <%= f.text_field :branch_address, :class => "form-control" %>
  </div>
    <input type="button" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
<% end %>

<!-- jQuery -->
<script src="http://thecodeplayer.com/uploads/js/jquery-1.9.1.min.js" type="text/javascript"></script>

<script src="http://thecodeplayer.com/uploads/js/jquery.easing.min.js" type="text/javascript"></script>
<script type="text/javascript">
//jQuery time
var current_fs, next_fs, previous_fs; //fieldsets
var left, opacity, scale; //fieldset properties which we will animate
var animating; //flag to prevent quick multi-click glitches
var error = 0;
$(".next").click(function(){
  if(animating) return false;
  animating = true;
  
  current_fs = $(this).parent();
  next_fs = $(this).parent().next();
  var fields = $("#msform").find('.req'); 

  fields.each(function() {
    var value = $(this).val();
    if(value == null || value.length <1|| value == 'NULL' ||value==""){
      $(this).addClass('error');
      $("#error_msg").html("Please fill in all of the required fields");
      error++;

      if(error == 1)
      {
        $(this).focus();
      }
    }else{
      $(this).removeClass('error');
      return true;
    }
   
  });
  
  // if(error==0)
  //   return true;
  // else
  //   return true;

  //activate next step on progressbar using the index of next_fs
  $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
  
  //show the next fieldset
  next_fs.show(); 
  //hide the current fieldset with style
  current_fs.animate({opacity: 0}, {
    step: function(now, mx) {
      //as the opacity of current_fs reduces to 0 - stored in "now"
      //1. scale current_fs down to 80%
      scale = 1 - (1 - now) * 0.2;
      //2. bring next_fs from the right(50%)
      left = (now * 50)+"%";
      //3. increase opacity of next_fs to 1 as it moves in
      opacity = 1 - now;
      current_fs.css({'transform': 'scale('+scale+')'});
      next_fs.css({'left': left, 'opacity': opacity});
    }, 
    duration: 800, 
    complete: function(){
      current_fs.hide();
      animating = false;
    }, 
    //this comes from the custom easing plugin
    easing: 'easeInOutBack'
  });
});

$(".previous").click(function(){
  if(animating) return false;
  animating = true;
  
  current_fs = $(this).parent();
  previous_fs = $(this).parent().prev();
  
  //de-activate current step on progressbar
  $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
  
  //show the previous fieldset
  previous_fs.show(); 
  //hide the current fieldset with style
  current_fs.animate({opacity: 0}, {
    step: function(now, mx) {
      //as the opacity of current_fs reduces to 0 - stored in "now"
      //1. scale previous_fs from 80% to 100%
      scale = 0.8 + (1 - now) * 0.2;
      //2. take current_fs to the right(50%) - from 0%
      left = ((1-now) * 50)+"%";
      //3. increase opacity of previous_fs to 1 as it moves in
      opacity = 1 - now;
      current_fs.css({'left': left});
      previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
    }, 
    duration: 800, 
    complete: function(){
      current_fs.hide();
      animating = false;
    }, 
    //this comes from the custom easing plugin
    easing: 'easeInOutBack'
  });
});


 

</script>

