<%= form_for(@employee_bank_detail) do |f| %>
  <% if @employee_bank_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee_bank_detail.errors.count, "error") %> prohibited this employee_bank_detail from being saved:</h2>

      <ul>
      <% @employee_bank_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :employee_id, :value => @employee.id  %>
  
  <div class="form-group">
    <%= f.label :pan_no %><br>
    <%= f.text_field :pan_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :national_id_no %><br>
    <%= f.text_field :national_id_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bank_acc_no %><br>
    <%= f.text_field :bank_acc_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :ifsc_code %><br>
    <%= f.text_field :ifsc_code, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :branch_address %><br>
    <%= f.text_field :branch_address, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
