<div class="col-md-8" style="margin-left: 82px;">  
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_area :address, :class => "form-control", :style=>"width: 80%;" %>
  </div>
  <div class="form-group">
    <%= f.label :current_address %>
    <%= f.text_area :current_address, :class => "form-control", :style=>"width: 80%;" %>
  </div>
  <div class="form-group">
    <%= f.label :home_phone %>
    <%= f.text_field :home_phone, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :mobile_no %>
    <%= f.text_field :mobile_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :alternet_mobile_no %>
    <%= f.text_field :alternet_mobile_no, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :father_contact_no %>
    <%= f.text_field :father_contact_no, :class => "form-control" %>
  </div>
</div>  